:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg:#010103;
  --border:0.1rem solid rgba(255,255,255,0.3);

}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: var(--bg);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
  background-color: var(--bg);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a {
  margin:  0 1rem;
  font-size: 1.8rem;
  color: #fff;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  font-size: 2rem;
}

.icons img {
  margin: 1rem;
  cursor: pointer;
}
.icons img:hover {
  width: 40px;
  height: 40px;
}

.btn {
  background: var(--main-color);
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
}

.btn:hover {
  letter-spacing: 0.05rem;
}

.home-container {
  background: url(./img/home-img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.home-container section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 100rem;
}

.content h3 {
  color: #fff;
  font-size: 6rem;
}

.content p {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.8;
  padding: 1rem 0;
}
.title {
  font-size: 4rem;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.title span {
  color: #fff;
  text-transform: uppercase;
}
.about .row {
  display: flex;
  align-items: center;
  background-color: var(--black);
  gap: 0.5rem;
}

.about .row .content {
  padding: 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
  cursor: pointer;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: lighter;
  gap: 1rem;
}

.menu .box-container .btn {
  font-size: 1.5rem;
}

.menu .box-container .box:hover{
  background-color: #fff;
}

.menu .box-container .box:hover>* {
  color: var(--black);
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: #fff;
  padding: 2rem 0;
  line-height: 1.8;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  
}

.address {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  margin: 1rem 0;
}



.footer .share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.footer .share img {
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 20%;
  padding: 1rem;
}

.footer .share img:hover {
  background-color: var(--main-color);
}